<template>

  <div id="ext-dashboard-side-panel" class="ext-dashboard-side-panel popup-hidden">
    <div class="ext-close-btn" v-on:click="closepopup">X</div>
    <table><tr>
        <td><img id="scan-logo" style="margin-right:20px;"></td>
        <td>
            <div style="font-size:20px;margin-bottom:5px;"><strong>ContentSpy is currently running.</strong></div>
            <div style="font-size:16px;">Please keep this Chrome tab open until ContentSpy is finished scanning, or else it might cause errors.</div></td>
    </tr></table>
  </div>
</template>

<script>

import icon from "../assets/icon.png";

import $ from "jquery";
import swal from 'sweetalert2';
import moment from 'moment';
//import { ExportToCsv } from 'export-to-csv';

//Global variables and data use through out page's sesion
var url;
var currentPageType;
var isPageLoaded = false;
var vm;
var lastPostDate,prevLastDate;
var scrollInterval,executePostCheckInterval;
var prevDocumentHeight; //document height for current page
var noTitleFound = "No title assigned";
var twitterDateFormat = 'MMMM D, YYYY';
var printDateFormat = 'MMMM DD, YYYY';
var mainContainerDom = "div[role='feed']";
var prevCount = -1;
var facebookDateFormat = 'MMMM D, YYYY';



export default {
  name: 'content-spy',
  data () {
    return {
      firstDayPicked: "",
      lastDayPicked:"",
      scrollWaitingTime: 7000, //scrolling waiting time in milliseconds
      runPostCheckTimer:1000,
      postLoadDelay: 1000,
      waitUrlLoadTimer: 10000,
      parsingPostsStarted:false,
      parsingPostsInProgress:false,
      parsingPostsComplete:false,
      isCanceled:false,
      showRangeProgressBar:false,
      totalDays:0,
      currentDays:0,
      totalDaysScrolled:0,
      parsedPosts:[],
      urlsStored:[],
    }
  },
  watch: {

  },
  mounted: function () {
    
  },
  updated(){ 
          
  },
  methods: {
    closepopup:function(){
      $("#ext-dashboard-side-panel").addClass("popup-hidden");
    },
    stopScrollingTask: function(){
      clearInterval(scrollInterval);
      //clearInterval(executePostCheckInterval);
    },
    cancelScan: function(){
      var vm = this;
      vm.isCanceled = true;
      vm.stopScrollingTask();
      vm.resetData();

      //close progress window if open
      if($("#ext-dashboard-side-panel").length)
        $(".ext-close-btn").get(0).click();
    },
    resetData:function(){
      this.parsingPostsStarted = false;
      this.parsingPostsComplete = false;
      this.parsingPostsInProgress = false;
      this.showRangeProgressBar = false;
      this.totalDaysScrolled = 0;
      this.currentDays = 0;
      this.parsedPosts = [];
      this.urlsStored = [];

      chrome.storage.local.set({"parsingPostsStarted":this.parsingPostsStarted});
      chrome.storage.local.set({"currentDays":0});
      chrome.storage.local.set({"totalDaysScrolled":0});
      chrome.storage.local.set({"totalDays":0});
      chrome.storage.local.set({"parsedPosts":this.parsedPosts });
      chrome.storage.local.set({"isDataReady":false});
      chrome.storage.local.set({"showRangeProgressBar":this.showRangeProgressBar});

    },
    scrollToDate: function(){

      var vm = this;
      //reset scroll to top
      window.scrollTo(0, 0);

      prevDocumentHeight = -1;

      prevDocumentHeight = this.performPageScroll();

      scrollInterval = setInterval(vm.performPageScroll, vm.scrollWaitingTime);

    },
    startWindowDom: function(){
      $("#ext-dashboard-side-panel").removeClass("popup-hidden");
    },
    //parses all posts in page that are within time range
    parsePageData: function(){          

      var vm = this;

      //alert user
      vm.parsedPosts = [];

      //flag to mark when all posts are parsed
      var endParsing = false;
      var startParsing = false;          
      
      //load all url links
      // Facebook requires hovering over post to generate link so all link requests need to
      //be called first before start parsing
      $(mainContainerDom+":last-child .du4w35lb .du4w35lb .rq0escxv .ll8tlv6m").each(function()
      {
        if(vm.isCanceled)
        {
          return false;
        }

        //TODO only load links for posts in range
        $(this).find(".buofh1pr .d2edcug0 a").each(function()
        {

          //need to hover over link for facebook to generate url otherwise it will be "#"
          var event = new FocusEvent('focusin', {
            'view': window,
            'bubbles': true,
            'cancelable': true
          });

          $(this).get(0).dispatchEvent(event);
        })
      })


      //set delay to give time for post urls to load
      setTimeout(function(){  

        if(vm.isCanceled)
        {
          return;
        }     

        //start looping over each post
        $(mainContainerDom+":last-child").find(".du4w35lb .du4w35lb .rq0escxv .ll8tlv6m").each(function()
        {

          if(vm.isCanceled)
          {
            return false;
          }

          var postContainer = $(this).parents(".du4w35lb").first();
          var postStatusContainer = postContainer.find(".bp9cbjyn");
          var currentPost = {};

          //Note
          //first div with class "bp9cbjyn" has the comment count
          //second div with class "bp9cbjyn" has the rest of stats      

          //Get post link and check if date range is met, end task if first date met
          var url= "";   
          var date="";   
          var postDate;      

          //note: current links that will load are porfile link (from profile name)
          // and link from date which is what we are after for post's link
          $(postContainer).find(".buofh1pr .d2edcug0 a.qu0x051f ").each(function(){
                
              if(vm.isCanceled)
              {
                return false;
              }      

              postDate = $(this).attr("aria-label");
              postDate = vm.convertFacebookDate(postDate);

              //if valid date, this is the post's link
              if(postDate != undefined && postDate.isValid())
              {
                url = $(this).attr("href");
                date = postDate.format(facebookDateFormat);

                //check if all posts within date range are parsed
                if(vm.firstDayPicked.diff(postDate, 'days') >= 1)
                {
                  endParsing = true;
                  //return;
                }

                //check if post is within date range is found to start parsing following posts
                if(postDate.diff(vm.lastDayPicked, 'days') <= 0)
                {
                  startParsing = true;
                }
                
              }              
          })

          if(vm.isCanceled)
          {
            return false;
          }  

          if(endParsing)
          {
            return false;
          }

          if(!startParsing)
          {
            //dont start parsing posts yet, check next post until first post in range is found
            return;
          }

          //update popup (if open) with current day
          //this updates actually parsed date, however it changed to parsed dates on scroll
          //uncomment if statement if progress is required during actual parsing
          /*if(postDate != undefined && postDate.isValid())
          {
            vm.currentDays = postDate.diff(vm.firstDayPicked, 'days');
            chrome.runtime.sendMessage({"command": "day-update", "currentDays":vm.currentDays});
          }*/
          

          //check for duplicate posts by checking url
          if(vm.urlsStored.includes(url))
          {
            //continue to next post
            return;
          }

          vm.urlsStored.push(url);

          //store retreived url and date
          currentPost["url"] = url;
          currentPost["date"] = moment(date,facebookDateFormat).format(printDateFormat);

          //Getting number of reactions
          var numberOfReactions = 0;

          //facebook has two fields for these, first one is total number. second one is 
          // a human beautified one. The parsing following this is not needed since we
          // are loading the first one

          postContainer.find(".bp9cbjyn .ni8dbmo4 > span > span.pcp91wgn")
          .each(function(){

              if(vm.isCanceled)
              {
                return false;
              }

              var numberOfReactionsStr = $(this).text();

              console.log("Reactions = "+numberOfReactionsStr);

              if(numberOfReactionsStr.trim() != "")            
              {

                numberOfReactions = numberOfReactionsStr.toLowerCase();
              }
          });

          currentPost["reactions"] = kFormatterReverse(numberOfReactions);

          var comments = 0;
          var shares = 0;

          //getting remaining stats
          //every stat is in div with class "gtad4xkn", get all
          // .d2edcug0 for comments
          postContainer.find(".bp9cbjyn:nth-child(2) .gtad4xkn .d2edcug0").each(function(){

            if(vm.isCanceled)
            {
              return false;
            }

            var statContainer = $(this);

            console.log($(statContainer).text());
            if($(statContainer).text().includes("Comment"))
            {
              //get comments count
              comments = $(statContainer).text().replace('Comments','').replace('Comment','').trim().toLowerCase();
              console.log("comments ="+comments);
            }
            else if($(statContainer).text().includes("Share"))
            {
              //get comments count
              shares = $(statContainer).text().replace('Shares','').replace('Share','').trim().toLowerCase();
              console.log("shares ="+shares);
            }


          })
              
          currentPost["comments"] = kFormatterReverse(comments);
          currentPost["shares"] = kFormatterReverse(shares);

          var totalStat = kFormatterReverse(comments)+kFormatterReverse(shares)+kFormatterReverse(numberOfReactions);
          currentPost["total"] = totalStat;           

          //get post title if one exists
          var title="";

          var titleEle = $(postContainer).find("div[data-ad-preview='message'] .kvgmc6g5");

          //post title will always have an id other shared title wont, so ignore them
          //this prevent the case of using a share post's title if the poster didnt add a title
          //Note: uncomment this if you want to ignore a share post's title

          /*if($(titleEle).parents(ecm0bbzt).first().length && $(titleEle).parents(ecm0bbzt).first().attr('id'))
          {
            title += $(postContainer).find("div[data-ad-preview='message'] .kvgmc6g5").first().text().trim();
          }*/

          //use shared post title if poster did add a title
          title += $(postContainer).find("div[data-ad-preview='message'] .kvgmc6g5").first().text().trim();

          //if post doesnt have a title , use the url
          if(title.trim() == "")
          {
            title = noTitleFound;
          }

          currentPost["title"] = title;

          vm.parsedPosts.push(currentPost);              

          console.log("row = ");
          console.log(currentPost);

          console.log( "================================");

        });

        console.log("posts parsed:");
        console.log(vm.parsedPosts);

        vm.parsingPostsStarted = false;
        vm.parsingPostsInProgress = false;
        vm.parsingPostsComplete = true;

        //store parsedPosts
        chrome.storage.local.set({"parsedPosts":vm.parsedPosts});
        chrome.storage.local.set({"isDataReady":true});

        //if popup not open, set badge and notify user
        chrome.runtime.sendMessage({"command": "updateBadge", value:0});
        chrome.runtime.sendMessage({"command": "notifyUser", value:0});

        //Update popup incase it is open
        chrome.runtime.sendMessage({"command": "parse-completed"});

        //close progress window if open
        if($("#ext-dashboard-side-panel").length)
          $(".ext-close-btn").get(0).click();

      },vm.waitUrlLoadTimer)

    },
    //convert facebook date method
    convertFacebookDate: function(fbDate)
    {
      
      if(fbDate == undefined)
        return fbDate;
      
      var date = moment();
      var stringOnlyPart = fbDate.replace(/[0-9]/g, '');
      var digits

      //seconds ago
      if(fbDate.includes('sec'))
      {
        digits = fbDate.replace(/[^0-9]/g,'');
        date = date.subtract(digits, 'seconds');
      }
      //minutes ago
      else if(fbDate.includes('m') && stringOnlyPart.length == 1)
      {
        digits = fbDate.replace(/[^0-9]/g,'');
        date = date.subtract(digits, 'minutes');
      }
      //hours ago
      else if(fbDate.includes('h') && stringOnlyPart.length == 1)
      {
        digits = fbDate.replace(/[^0-9]/g,'');
        date = date.subtract(digits, 'hours');
      }
      //days ago
      else if(fbDate.includes('d') && stringOnlyPart.length == 1)
      {
        digits = fbDate.replace(/[^0-9]/g,'');
        date = date.subtract(digits, 'days');
      }
      //yesterday
      else if(fbDate.toLowerCase().includes('yesterday'))
      {
        date = date.subtract(1, 'days');
      }
      //handling date formats like "January 14 at 12:12 PM"
      else if(fbDate.includes('at')){
        //remove "at" + time text
        fbDate = fbDate.substring(0,fbDate.lastIndexOf("at"));
        date = moment(fbDate, 'MMMM D');
      }
      //default format 'MMMM D, YYYY' for dates from previous years
      else{
        date = moment(fbDate, facebookDateFormat);
      }

      return date.startOf('day');
    },
    performPageScroll:function(){

      var vm = this;

      //canceled event will handle stopping interval any other clean up needed so simply return on cancel
      if(vm.isCanceled)
      {
        return -1;
      }

      //stores the max day reached while scrolling to update the progress bar
      var maxDayReached = 0;

      //scroll complete
      var content_height = $(document).height();

      var content_scroll_pos = $(window).scrollTop();
      var percentage_value = content_scroll_pos * 100 / content_height;

      lastPostDate = vm.getLastPostDate();

      //check if post's date older than start date or final post reached, stop scrolling
      if((lastPostDate != null && vm.firstDayPicked.diff(lastPostDate, 'days') >= 1) || (prevDocumentHeight == content_height && $(mainContainerDom+":last-child .rek2kq2y").length == 0))
      {
        //no more scrolling needed, all posts are loaded, start parsing
        vm.stopScrollingTask();

        //check parsing hasnt started already to prevent duplicate requests
        if(!vm.parsingPostsInProgress)
        {
          //posts loaded, start parsing data
          //add delay to give page time to load all attributes before starting parsing
          setTimeout(vm.parsePageData, vm.postLoadDelay);

          vm.parsingPostsInProgress = true;
        }
        

        return prevDocumentHeight;
      }

      //detect if posts within date range started, then update loading bar accordingly
      if(lastPostDate.diff(vm.lastDayPicked, 'days') <= 0)
      {
        vm.showRangeProgressBar = true;

        vm.currentDays = vm.currentDays > vm.lastDayPicked.diff(lastPostDate, 'days')? vm.currentDays:vm.lastDayPicked.diff(lastPostDate, 'days');

        if(vm.currentDays > vm.totalDays)
          vm.currentDays = vm.totalDays;
      }

      //get days scrolled
      if(prevLastDate != undefined)
      {
        //incase posts are not sorted by date this value can be negative, so ingore decrementing counter
        if(prevLastDate.diff(lastPostDate, 'days') > 0 )
          vm.totalDaysScrolled += prevLastDate.diff(lastPostDate, 'days');

        //store currentdays progress and update popup if open
        chrome.runtime.sendMessage({"command": "day-update", "totalDaysScrolled":vm.totalDaysScrolled, "currentDays":vm.currentDays,"showRangeProgressBar":vm.showRangeProgressBar});

        chrome.storage.local.set({"currentDays":vm.currentDays});
        chrome.storage.local.set({"showRangeProgressBar":vm.showRangeProgressBar});
        chrome.storage.local.set({"totalDaysScrolled":vm.totalDaysScrolled});
      }

      prevDocumentHeight = content_height;
      prevLastDate = lastPostDate;

      //start scrolling animation
      $("html, body").animate({ scrollTop: $(document).height() }, 1000,function(){});

      return prevDocumentHeight;

    },

    //check date for last post loaded through scrolling, returns null otherwise
    getLastPostDate: function()
    {
      var vm = this;      
      var lastPostDisplayedDate;

      // class "rek2kq2y" is the last div which is a placeholder that loads fb content
      // last content is 2 divs before it
      $(mainContainerDom+":last-child .rek2kq2y").prev().prev().prev().find(".buofh1pr .d2edcug0 a").each(function(){
          
          if($(this).attr("aria-label"))
          {
            lastPostDisplayedDate = $(this).attr("aria-label");
            lastPostDisplayedDate = vm.convertFacebookDate(lastPostDisplayedDate);

            if(lastPostDisplayedDate != undefined && lastPostDisplayedDate.isValid())
            {
              console.log(lastPostDisplayedDate);
              return false;
            }
          }
        })

      return lastPostDisplayedDate;
    },

  }
}


function getRandomInt(min, max) {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive
}

function jsUcfirst(string) 
{
  if(string == undefined || string.trim() == "")
    return string;

    return string.charAt(0).toUpperCase() + string.slice(1);
}

function ucFirstAll(string)
{
  var splitStr = string.toLowerCase().split(' ');

    for (var i = 0; i < splitStr.length; i++) {
       splitStr[i] = jsUcfirst(splitStr[i]);   
    }

   return splitStr.join(' '); 
}

function kFormatter(num) {
    return Math.abs(num) > 999 ? Math.sign(num)*((Math.abs(num)/1000).toFixed(1)) + 'k' : Math.sign(num)*Math.abs(num)
}

function kFormatterReverse(num,formatCommas = false) {
    if(num == undefined || num == "")
        return 0;

    if(num.toLowerCase().includes("k"))
    {
        var thousands = num.split(".")[0].replace(/[^0-9]/g,'');
        var hundreds = 0;
        if(num.split(".")[1] != undefined)
            hundreds = num.split(".")[1].replace(/[^\d]/g, '');

        num = thousands*1000+hundreds*100;
        if(formatCommas)
            num = num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    return parseInt(num);

}





</script>


<style lang="less">
  
  
</style>

