.popup-hidden{
	display: none !important;
}

#ext-dashboard-side-panel{
    position: fixed;
    width: 400px;
    background-color: #d9dad9!important;
    color: black;
    bottom: 10px;
    left: 80px;
    padding: 10px;
}
#ext-dashboard-side-panel .ext-close-btn{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
    font-weight: bold;
}

